<!-- Load Dropzone -->
<script src="/static/js/dropzone.js"></script>
<link href="/static/css/dropzone.css" rel="stylesheet" type="text/css"/>


<!doctype html>

{% extends 'navigator.html' %}
{% block body_part %}


    <form action="/uploadbydropzone" class="dropzone" id="my-dropzone" name="image[]"
          enctype=multipart/form-data></form>

    <button type="button" class="btn btn-primary" id="submit-all">Submit</button>
<script>
    Dropzone.options.myDropzone = {

            // Prevents Dropzone from uploading dropped files immediately
            acceptedFiles: "image/*",
            autoProcessQueue: false,
            addRemoveLinks: true,
            uploadMultiple: true,
            parallelUploads: 10,
            init: function () {

                var submitButton = document.querySelector("#submit-all");
                myDropzone = this; // closure
                var count = 0;
                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                });

                this.on("processing", function (file) {
                    //upload all images
                    this.options.autoProcessQueue = true;

                    //delete removeLink after upload completed
                    file._removeLink.remove();
                    delete file._removeLink;
                });

                this.on("success", function () {
                    //console.log("success");
                    //function(file) { file._removeLink.remove(); delete file._removeLink; }
                });


                this.on("queuecomplete", function () {
                    console.log("queuecomplete");
                    this.options.autoProcessQueue = true;

                    myDropzone.options.addRemoveLinks = false;
                    myDropzone.removeEventListeners();

                    setTimeout(function () {
                        console.log("after complete")
                        //window.location.href='showimagesofuser';
                        window.location.href='showimagesofuser';
                        console.log(myDropzone.getAcceptedFiles())

                        //
                        // var currentBtn = document.getElementById("submit-all");
                        //     currentBtn.style.display = "none";
                    }, 2000);
                });


            }
        };
    </script>


{% endblock %}