<!DOCTYPE html>
<html lang="en">

{% extends 'navigator.html' %}
{% block body_part %}
<link href="/static/css/images.css" rel="stylesheet" type="text/css"/>

    <body>


    <div class="card-columns">
    {% for image in images %}
        {#        <img src="{{ url_for('return_img_stream', imgname=image['name']) }}" alt="{{ image['name'] }}"#}
        {#             height="200" width="200" class="img-responsive">#}


        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <img class="card-img-top" src="{{ url_for('return_img_stream', imgname=image['name']) }}"
                     alt="{{ image['name'] }}">
                <h5 class="card-title">{{ image['name'] }}</h5>
                {# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>#}

                <p class="card-text"> </p>
                <form action="{{ url_for('updatename', imgname=image['name']) }}" method="post">
                    <div class="form-group">
                        <label for="input-name">edit name</label>
                        <input type="text" required id="input-name" class="form-control" name="newname" placeholder="input new name">
                    </div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>

                <a href="{{ url_for('delete', imgname=image['name']) }}" class="card-link">delete</a>
            </div>
        </div>
    {% endfor %}
    </div>
    </body>


{% endblock %}
</html>

