<!DOCTYPE html>
<html lang="en">
<head>
<title>imghst</title>
</head>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap/css/bootstrap-grid.css" rel="stylesheet" type="text/css"/>
    <link href="/static/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" type="text/css"/>


<body>

{#flash message#}
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}

    {% for category, message in messages %}
      <div class="alert alert-{{category}}">{{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    {% endfor %}

  {% endif %}
{% endwith %}
<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 1000);
</script>
{% block body %}{% endblock %}


<nav class="navbar navbar-expand-sm bg-light">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/uploadbydropzone">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/showimagesofuser">Images</a>
        </li>

    </ul>
{#    <span class="navbar-text">#}
{#          {% if current_user.is_authenticated %}#}
{#              Welcome {{ current_user.username }}!#}
{#          {% endif %}#}
{#        </span>#}
    <span class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          {% if current_user.is_authenticated %}
              Welcome {{ current_user.username }}!
          {% else %}
              User
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="/logout">log out</a>
            {% else %}
                <a class="dropdown-item" href="/login">log in</a>
            {% endif %}



            {% if not current_user.is_authenticated %}
                <a class="dropdown-item" href="/register">register</a>
            {% endif %}
</div>
      </span>

</nav>
</body>




{% block body_part %}
{% endblock %}


    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

</html>